@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 300px;
}

input {
  display: block;
  max-width: 100%;
  max-height: 50px;
  /* width: 100%; */
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-form {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-title {
  position: absolute;
  top: 8px;
  left: 20px;
  font-size: 18px;
  font-weight: bold;
}

select{
  display: block;
  max-width: 100%;
  max-height: 50px;
  /* width: 100%; */
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
